In [1]:
import tensorflow as tf
import numpy as np
import csv
import pandas as pd

In [2]:
train_df = pd.read_csv("../input/house_train.csv")
train_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
test_df = pd.read_csv("../input/house_test.csv")
test_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.44791,0.0,6.20,1,0.507,6.726,66.5,3.6519,8,307,17.4,360.20,8.05,29.0
1,15.57570,0.0,18.10,0,0.580,5.926,71.0,2.9084,24,666,20.2,368.74,18.13,19.1
2,0.01870,85.0,4.15,0,0.429,6.516,27.7,8.5353,4,351,17.9,392.43,6.36,23.1
3,14.05070,0.0,18.10,0,0.597,6.657,100.0,1.5275,24,666,20.2,35.05,21.22,17.2
4,2.33099,0.0,19.58,0,0.871,5.186,93.8,1.5296,5,403,14.7,356.99,28.32,17.8

In [4]:
x_train = train_df.iloc[:, 0:13]
y_train = train_df[["MEDV"]]
x_test = test_df.iloc[:, 0:13]
y_test = test_df[["MEDV"]]

In [5]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [6]:
y_train.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [7]:
x = tf.placeholder(tf.float32, [None, 13])
y = tf.placeholder(tf.float32, [None, 1])
W = tf.Variable(tf.zeros([13,1]))
b = tf.Variable(tf.zeros([1]))
tf.get_variable_scope().reuse_variables()

WARNING:tensorflow:From /usr/local/var/pyenv/versions/3.7.2/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [8]:
y_reg = tf.matmul(x, W) + b
cost = tf.losses.mean_squared_error(labels = y, predictions = y_reg)
optimizer = tf.train.GradientDescentOptimizer(0.000001).minimize(cost)

WARNING:tensorflow:From /usr/local/var/pyenv/versions/3.7.2/lib/python3.7/site-packages/tensorflow/python/ops/losses/losses_impl.py:667: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [9]:
sess = tf.Session()
init = tf.initialize_all_variables()
sess.run(init)
num_epochs = 50000
for i in range(num_epochs):
    sess.run(optimizer, feed_dict = {x:x_train, y:y_train})
print(sess.run(W), sess.run(b))

WARNING:tensorflow:From /usr/local/var/pyenv/versions/3.7.2/lib/python3.7/site-packages/tensorflow/python/util/tf_should_use.py:193: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.
[[-0.10410521]
 [ 0.09822975]
 [-0.10855214]
 [ 0.02619058]
 [ 0.02046819]
 [ 0.5455036 ]
 [ 0.11395251]
 [ 0.03574572]
 [ 0.07364911]
 [ 0.00243356]
 [ 0.33792126]
 [ 0.0360827 ]
 [-0.7600496 ]] [0.04931569]

In [10]:
pred = sess.run(y_reg, feed_dict = {x: x_test})
rmse = ((pred - y_test) ** 2).mean() ** .5
print(rmse)

MEDV    6.15097
dtype: float64

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train_norm = scaler.fit_transform(x_train)
x_test_norm = scaler.fit_transform(x_test)

/usr/local/var/pyenv/versions/3.7.2/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/var/pyenv/versions/3.7.2/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/usr/local/var/pyenv/versions/3.7.2/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/var/pyenv/versions/3.7.2/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [12]:
x = tf.placeholder(tf.float32, [None, 13])
y = tf.placeholder(tf.float32, [None, 1])
W = tf.Variable(tf.zeros([13,1]))
b = tf.Variable(tf.zeros([1]))
tf.get_variable_scope().reuse_variables()

y_reg = tf.matmul(x, W) + b
cost = tf.losses.mean_squared_error(labels = y, predictions = y_reg)
optimizer = tf.train.GradientDescentOptimizer(0.1).minimize(cost)

In [13]:
sess = tf.Session()
init = tf.initialize_all_variables()
sess.run(init)
num_epochs = 500
for i in range(num_epochs):
    sess.run(optimizer, feed_dict = {x:x_train_norm, y:y_train})
print(sess.run(W), sess.run(b))

[[-0.9160437 ]
 [ 0.69040924]
 [ 0.230471  ]
 [ 0.49556783]
 [-2.2903042 ]
 [ 2.9689493 ]
 [ 0.09214091]
 [-2.8857102 ]
 [ 2.533698  ]
 [-1.871839  ]
 [-2.0945783 ]
 [ 0.6210734 ]
 [-3.873356  ]] [22.752953]

In [14]:
pred = sess.run(y_reg, feed_dict = {x: x_test_norm})
rmse = ((pred - y_test) ** 2).mean() ** .5
print(rmse)

MEDV    4.858383
dtype: float64